doctype html
head
    style.
        html {
            height: 100%;
        }
        body {
            margin: 0;
            height: 100%;
        }
html
    body(style=`
        background: center / contain no-repeat url(/uploads/${fname})
    `)
